<div class="w-full p-5 bg-white dark:bg-gray-900 antialiased ">

  <div class="p-10 bg-white m-12 dark:bg-gray-900">
    <div class="mb-4 flex flex-col justify-between gap-8 md:flex-row md:items-center">
      <div>
        <h6 class="font-sans antialiased font-bold text-white text-base md:text-lg lg:text-xl text-current">{{ listTitle }}</h6>
        <p class="font-sans antialiased text-base text-current text-white mt-1">{{ listSubTitle }}</p>
      </div>
      <div>
        <a [routerLink]="['/admin/product/create']" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Nuevo</a>
      </div>
    </div>
    <div class="w-full overflow-hidden rounded-lg border border-stone-200">
      <list-product
        [products]="products" (productDeleted)="loadProducts()" />
    </div>

  </div>


</div>

