<div class="w-full antialiased">
  <div class="p-1  m-12">
    <div class="mb-4 flex flex-col justify-between gap-8 md:flex-row md:items-center">
      <div>
        <h4 class="font-bold">{{ listTitle }}</h4>
        <p class="mb-0 font-semibold leading-normal dark:text-dark dark:opacity-60 text-sm">{{ listSubTitle }}</p>
      </div>
    </div>
      <div class="w-full overflow-hidden rounded-lg border border-stone-200">
        <app-table-generic
          [columns]="columns"
          [data]="employees"
          [actions]="actions"
        >
        </app-table-generic>
      </div>
  </div>

  <app-side-modal
    [show]="showSideModalIn"
    [title]="titleModal"
    (closed)="closeSideModal()"
    (saved)="save()"
  >
    <form [formGroup]="formGroup">
      <div class="grid gap-6 mb-6 md:grid-cols-1">

        <input type="hidden" formControlName="id" />
        <input type="hidden" formControlName="type"/>
        <div>
          <label class="inline-block mb-2 ml-1 font-bold text-xs text-slate-700 dark:text-white-800">
            Nombre
          </label>
          <input
            formControlName="name"
            type="text"
            readonly
            class="focus:shadow-primary-outline dark:bg-slate-850 dark:text-gray-700 text-sm leading-5.6 ease block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-gray-100 bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-blue-500 focus:outline-none"
          />
        </div>

        <div>
          <label class="inline-block mb-2 ml-1 font-bold text-xs text-slate-700 dark:text-white-800">
            Area
          </label>
          <input
            formControlName="area"
            type="text"
            readonly
            class="focus:shadow-primary-outline dark:bg-slate-850 dark:text-gray-700 text-sm leading-5.6 ease block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-gray-100 bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-blue-500 focus:outline-none"
          />
        </div>

        <div>
          <label class="inline-block mb-2 ml-1 font-bold text-xs text-slate-700 dark:text-white-800">
            Nueva Hora entrada
          </label>
          <input
            formControlName="new_time"
            type="time"
            readonly
            class="focus:shadow-primary-outline dark:bg-slate-850 dark:text-gray-700 text-sm leading-5.6 ease block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-gray-100 bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-blue-500 focus:outline-none"
          />
        </div>

        <div>
          <label class="inline-block mb-2 ml-1 font-bold text-xs text-slate-700 dark:text-white-800">
            Tiempo extra
          </label>
          <div class="flex items-center gap-2">
            <select
              formControlName="hour"
              class="w-16 text-center focus:shadow-primary-outline dark:bg-slate-850 dark:text-gray-700 text-sm leading-5.6 ease appearance-none rounded-lg border border-gray-300 bg-white px-3 py-2 text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-blue-500 focus:outline-none">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
            </select>
            <span class="text-lg font-semibold">:</span>
            <select
              formControlName="min"
              class="w-16 text-center focus:shadow-primary-outline dark:bg-slate-850 dark:text-gray-700 text-sm leading-5.6 ease appearance-none rounded-lg border border-gray-300 bg-white px-3 py-2 text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-blue-500 focus:outline-none">
              <option value="0">00</option>
              <option value="15">15</option>
              <option value="30">30</option>
              <option value="45">45</option>
            </select>
          </div>
        </div>

        <div>
          <label class="inline-block mb-2 ml-1 font-bold text-xs text-slate-700 dark:text-white-800">
            Hora entrada
          </label>
          <input
            formControlName="start_job"
            type="time"
            readonly
            class="focus:shadow-primary-outline dark:bg-slate-850 dark:text-gray-700 text-sm leading-5.6 ease block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-gray-100 bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-blue-500 focus:outline-none"
          />
        </div>

      </div>
    </form>
  </app-side-modal>

  <app-side-modal
    [show]="showSideModalOut"
    [title]="titleModal"
    (closed)="closeSideModal()"
    (saved)="save()"
  >
    <form [formGroup]="formGroup">
      <div class="grid gap-6 mb-6 md:grid-cols-1">
        <input type="hidden" formControlName="id">
        <input type="hidden" formControlName="type"/>
        <input type="hidden" formControlName="ip_address"/>
        <div>
          <label class="inline-block mb-2 ml-1 font-bold text-xs text-slate-700 dark:text-white-800">
            Nombre
          </label>
          <input
            formControlName="name"
            type="text"
            readonly
            class="focus:shadow-primary-outline dark:bg-slate-850 dark:text-gray-700 text-sm leading-5.6 ease block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-gray-100 bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-blue-500 focus:outline-none"
          />
        </div>

        <div>
          <label class="inline-block mb-2 ml-1 font-bold text-xs text-slate-700 dark:text-white-800">
            Area
          </label>
          <input
            formControlName="area"
            type="text"
            readonly
            class="focus:shadow-primary-outline dark:bg-slate-850 dark:text-gray-700 text-sm leading-5.6 ease block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-gray-100 bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-blue-500 focus:outline-none"
          />
        </div>

        <div>
          <label class="inline-block mb-2 ml-1 font-bold text-xs text-slate-700 dark:text-white-800">
            Hora salida
          </label>
          <input
            formControlName="end_job"
            type="time"
            readonly
            class="focus:shadow-primary-outline dark:bg-slate-850 dark:text-gray-700 text-sm leading-5.6 ease block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-gray-100 bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-blue-500 focus:outline-none"
          />
        </div>

        <div>
          <label class="inline-block mb-2 ml-1 font-bold text-xs text-slate-700 dark:text-white-800">
            Tiempo extra
          </label>
          <div class="flex items-center gap-2">
            <select
              formControlName="hour"
              class="w-16 text-center focus:shadow-primary-outline dark:bg-slate-850 dark:text-gray-700 text-sm leading-5.6 ease appearance-none rounded-lg border border-gray-300 bg-white px-3 py-2 text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-blue-500 focus:outline-none">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
            </select>
            <span class="text-lg font-semibold">:</span>
            <select
              formControlName="min"
              class="w-16 text-center focus:shadow-primary-outline dark:bg-slate-850 dark:text-gray-700 text-sm leading-5.6 ease appearance-none rounded-lg border border-gray-300 bg-white px-3 py-2 text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-blue-500 focus:outline-none">
              <option value="0">00</option>
              <option value="15">15</option>
              <option value="30">30</option>
              <option value="45">45</option>
            </select>
          </div>
        </div>

        <div>
          <label class="inline-block mb-2 ml-1 font-bold text-xs text-slate-700 dark:text-white-800">
            Nueva Hora salida
          </label>
          <input
            formControlName="new_time"
            type="time"
            readonly
            class="focus:shadow-primary-outline dark:bg-slate-850 dark:text-gray-700 text-sm leading-5.6 ease block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-gray-100 bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-blue-500 focus:outline-none"
          />
        </div>

      </div>
    </form>
  </app-side-modal>

</div>
