<div class="w-full p-5 bg-white antialiased ">
  <div class="p-10 bg-white m-12 ">
    <div class="mb-4 flex flex-col justify-between gap-8 md:flex-row md:items-center">
      <div>
        <h6 class="font-sans antialiased font-bold text-slate-800 text-base md:text-lg lg:text-xl text-current">{{ listTitle }}</h6>
        <p class="font-sans antialiased text-base text-current text-slate-700 mt-1">{{ listSubTitle }}</p>
      </div>
    </div>

    <form autocomplete="off" [formGroup]="myForm" (ngSubmit)="save()">

      <app-user-form [myForm]="myForm" [action]="action" />
      <button
        type="submit"
        [disabled]="myForm.invalid"
        class="bg-blue-600 text-white px-4 py-2 rounded-lg transition-opacity duration-300
           hover:bg-blue-700 disabled:bg-gray-400 disabled:cursor-not-allowed">Actualizar</button>
      <a [routerLink]="['/admin/user']" routerLinkActive="router-link-active"  class="ml-3 text-white bg-slate-700 hover:bg-slate-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-slate-600 dark:hover:bg-slate-700 dark:focus:ring-slate-800">Cancelar</a>
   </form>

  </div>
</div>

